
@{
    Layout = null;
}

<!DOCTYPE html>
<style>

    .col-md-4 {
        width: 27.333333%;
        margin-left: 35%;
        border: 40% solid;
        border: 19px solid #dcc2c2;
        margin-top: 10%;

    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm("Index", "UserLogin", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="text-danger"></div>
                    <div class="form-group">
                        <h2 style="font-family:'Times New Roman', Times, serif;font-weight:bold;text-align-last:center">
                            User Login
                        </h2>
                        <hr />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-success " style="position: absolute; right: 185px;" />

                    </div>

                </form>
                <br />
                <br />
                <div class="form-group"><b>Don't have an account?</b>  <a href="~/UserLogin/UserRegister"><u> Register Now</u></a></div>
                <br />

            </div>
        </div>
    }
</body>

</html>
<link href="~/Content/plugins/toastr.js/toastr.css" rel="stylesheet" />
<script src="~/Content/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script src="~/Content/plugins/toastr.js/toastr.min.js"></script>
@if (ViewBag.invalid == "Invalid Email & Password.!")
{
    <script>
        $(document).ready(function () {
            toastr.error("Invalid UserName & Password..!!");
        });
    </script>
}

